# Site
name: 'Loda'
description: 'Chia sẻ, hướng dẫn lập trình Java miễn phí và chất lượng nhất.'
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: ''
hostname: 'https://loda.me'
disqus: 'loda-me'
email: 'loda.namnh@gmail.com'

google_analytics: 'UA-135687402-1'
google_adsense: 'ca-pub-1825244585932187'
# mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate-v2
  - jekyll-seo-tag
  
  
authors:
    loda:
      name:           loda
      site:           https://www.loda.me
      avatar:         assets/images/loda.jpg
      bio:            "Là chàng coder :'( yêu màu tím , thích màu hồng, sống nội tâm, hay khóc thầm, ghét sự giả dối... Mong muốn chia sẻ cho cộng đồng các kiến thức mới về lâp trình nói chung và đời sống nói riêng."
      email:          loda.namnh@gmail.com
      twitter:        https://twitter.com/wowthemesnet
      facebook:       https://www.facebook.com/loda.fanpage
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: loda
      avatar: assets/images/loda.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge
  # syntax_highlighter_opts:
  #   block:
  #     line_numbers: true

# Paginate
pagination:
  enabled: true
  debug: true
  per_page: 6
  permalink: '/page/:num/'
  # title: ' - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  indexpage: 'index'
  trail: 
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page




# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules, vendor]