<div class="mt-5">
{% if paginator.total_pages > 1 %}
<ul class="pagination">
    {% if paginator.first_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: 'index.html' }}">First</a>
    </li>
    {% endif %}


    {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
        <li class="page-item {% if page.url == trail.path %}disabled{% endif %}">
            <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | remove_first: 'index.html'}}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
        {% endfor %}
    {% endif %}


        {% if paginator.last_page %}
    <li class="page-item">
        <a class="page-link" href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' | remove_first: 'index.html' }}">Last</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</div>
    