<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 align-self-center">
                <h1 class="mb-3">Key JetBrains 2019 miễn phí</h1>
                <p class="mb-3 lead">
                    Giveaway Key bản quyền Intellij IDEA, Webstorm, Clion, GoLand, RubyMine, ReSharper v.v..
                </p>
                <a href="{{site.baseurl}}/jetbrains" class="btn btn-dark">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/assets/images/highligh-box.png);">	</div>
        </div>
    </div>
</div>