{% if page.url == "/" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
    </li>
    <!-- End Blog -->

    <!-- Java -->
    {% if page.url == "/java" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/java">Java</a>
    </li>
    <!-- End Java -->

    <!--Spring boot -->
    {% if page.url == "/spring-boot" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/spring-boot">Spring Boot</a>
    </li>
    <!-- End Spring boot -->


    <!-- Machine learning -->
    {% if page.url == "/machine-learning" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/machine-learning">Machine learning</a>
    </li>
    <!-- End Machine learning -->

    <!-- Python -->
    {% if page.url == "/python" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/python">Python</a>
    </li>
    <!-- End Python -->

    <!-- About -->
    {% if page.url == "/about" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
    </li>
    <!-- End About -->

    <!-- JetBrains -->
    {% if page.url == "/jetbrains" %}
    <li class="nav-item active">
      {% else %}
    </li>

    <li class="nav-item">
      {% endif %}
      <a class="btn btn-outline-success" href="{{ site.baseurl }}/jetbrains">JetBrains Key</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Demo</a>
      <ul class="sub-menu">
        <li class="nav-item">
          <a class="nav-link nav-link__item" href="#">Demo 1</a>
          <div class="sub-menu">
            <ul class="sub-menu">
              <li class="nav-item">
                <a class="nav-link nav-link__item" href="#">Demo 1</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li> -->

    <!-- <div class="dropdown menu">
      <a class="nav-link dropdown-toggle" 
         id="#navLink" 
         data-toggle="dropdown" 
         aria-haspopup="true" 
         aria-expanded="false">
        Menu
      </a>
      <ul class="sub-menu__item dropdown-menu" aria-labelledby="navLink">
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="#">Action</a>
            <ul class="sub-menu" aria-labelledby="navLink">
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="#">Action</a>
            <ul class="sub-menu" aria-labelledby="navLink">
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Action 1</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="#">Action</a>
        </li>
      </div>
    </div> -->
