<!-- All this area goes before </body> closing tag --> 
<div class="footer-tracking bg-dark py-2">
    <ul class="d-flex align-items-center justify-content-center list-unstyled m-0">
        <li class="item-footer px-3 m-0">
            <a href="{{ site.baseurl }}/privacy-policy">PRIVACY POLICY</a>
        </li>
        <li class="item-footer px-3 m-0">
            <a href="{{ site.baseurl }}/about">ABOUT</a>
        </li>
        <li class="item-footer px-3 m-0">
            <a href="{{ site.baseurl }}/contact">CONTACT</a>
        </li>
    </ul>
</div>